<a href="https://colab.research.google.com/github/Benjamindavid03/python_exercises/blob/main/Python_Intermediate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions in Python contd.
## Default Parameter value
If we call a function without giving any argument value, then the default value will be used.

In [ ]:
def eat(fruit = "grapes"):
  print("I want to eat", fruit);

In [ ]:
# error will not be thrown
eat("mango"); # fruit is passed
#error will be thrown
eat(); # error will be thrown if not given default value
#eat(input("Enter the fruit name"));

I want to eat mango
I want to eat grapes

## Pass statement
If we want to have certain functions,<br/>
But, we don't want to give empty functions as they will throw an error. <br/>
<br/>
<u>We can give a function definition without any content using the pass statement within the function.</u>

In [ ]:
def calculateGrade():
  pass;

def calculateAge():
  pass;

In [ ]:
calculateAge();

## Recursion

A function that needs to be called again and again by the same function.

In [ ]:
# we need to call count inside of the count
def count(k): 
  if(k>0): #check if k is greater than 0
    sum = k + count(k-1);  # sum = k + call the function again with param {k-1}
    # count is a recursive function
    print("k=",k);
    print("sum=",sum);
  else:
    sum=0;
  return sum;

v = int(input("Enter number :"));
sum = count(v);
print("The total sum is ",sum);

## Lambda Functions
A lambda function is a small function that is anonymous and can be simple<br/>
<b>SYNTAX  :</b>
<code>
 fun = lambda arguments : expression
</code>

In [ ]:
# ordinary functions
def x1(q):
  return q*q;

def sum1(a,b):
  return a+b;

In [ ]:
#lambda functions
x2 = lambda q : q*q;
sum2 = lambda a,b : a+b;
print(x1(3))     #calling function
print(x2(3))     #calling lambda function
print(sum1(3,2)) #calling function
print(sum2(3,1)) #calling lambda function

In [ ]:
area_rect = lambda l,b : l*b;
area_square = lambda s : s*s;

print("Area of rectangle ", area_rect(3,2));
print("Area of square ", area_square(10));

Area of rectangle  6
Area of square  100

# Object Oriented Programming
1. Everything around us can be modelled and programmed using OOP
2. Every object has a set of properties and methods

We create a template for object and then use those for our program

## Class
A class is like a template for an object. In other words, a class is a "blueprint" for creating an object

In [ ]:
#creating a class for Human
class Human:
  height=5;  #property 1
  weight=56; #property 2
  name="No name"; # property 3

  #constructor - a method that is called when the 
  #              instance of the object is created
  def __init__(self):
    print("Constructor called"); #a constructor will be called when an instance
                                 #of the object is created

  #ShowDetail - a method called to print all the details of the object
  def ShowDetail(self): #self refers to the instance of the called object
    print("The Details are:");
    print("Name :",self.name);
    print("Weight :",self.weight);
    print("Height :",self.height);

print(Human);

<class '__main__.Human'>

### Creating the Objects and assigning the values

In [ ]:
#creating a student object of type Human
student = Human();
student.height=6.5;
student.weight=54;
student.name="Kumar";

#creating a teacher object of type Human
teacher = Human();
teacher.height=5.98;
teacher.weight=67;
teacher.name="John";

Constructor called
Constructor called

### Access the properties of the class

In [ ]:
# Type 1  : Access the properties using . operator
#print the student details
print("The student Details are:");
print("Name :",student.name);
print("Weight :",student.weight);
print("Height :",student.height);

#print the teacher details
print("The Teacher Details are:");
print("Name :",teacher.name);
print("Weight :",teacher.weight);
print("Height :",teacher.height);

The student Details are:
Name : Kumar
Weight : 54
Height : 6.5
The Teacher Details are:
Name : John
Weight : 67
Height : 5.98

### Calling the method ShowDetail from the Human class

In [ ]:
# Type 2: call the method defined inside the class using . operator
# Easily, you can just call ShowDetail() from the object
teacher.ShowDetail(); #calling the method defined in Human
student.ShowDetail(); #calling the method defined in Human

The Details are:
Name : John
Weight : 67
Height : 5.98
The Details are:
Name : Kumar
Weight : 54
Height : 6.5

In [ ]:
#creating a new object parent
parent = Human();
parent.name="Kumar"; #change the name of Human object to Kumar
parent.ShowDetail();

Constructor called
The Details are:
Name : Kumar
Weight : 56
Height : 5

# An Example for OOP using Complex numbers

In [ ]:
# complex number class
class Complex:  
  #constructor with two argument : 1 = >real, 2 => img
  def __init__(self, r=0, i=0):
    self.real = r;  # accessing the property of instance and set the real prop 
    self.img = i;   #  accessing the property of instance and set the img prop
    # To automatcally call display when an object is created.
    self.display(); # accessing the method of instance and call display
  #method to display the complex number
  def display(self):
    print(str(self.real)+"+"+str(self.img)+"i");

  # method to add complex number with this object
  def add(self, c):
    self.real = self.real+c.real;
    self.img = self.img+c.img;    
    return self;

  # method to subtract complex number with this object
  def sub(self, c):
    self.real = self.real-c.real;
    self.img = self.img-c.img;    
    return self;

In [ ]:
# we are using the class to create complex number objects
print("C1 object is created");
c1 = Complex();
print("C1 object is created with real and complex assigned");
c1 = Complex(3,2); # this line automatically calls __init__ on c1
print("C2 object is created with real and complex assigned");
c2 = Complex(16,4); # this line automatically calls __init__ on c1
#c1.display(); # calling the display method of c1
#c2.display(); # calling the display method of c2

# creating complex numbe object with no arguments
c3 = Complex();
# calling the add method of c1 and pass c2
c3 = c1.add(c2);
# print the complex number c3
c3.display();

0+0i
3+2i
16+4i
0+0i
19+6i

# An Example for OOP using Mobile - Real object

In [ ]:
# class Mobile
class Mobile: 

  #properties
  #======================
  os = "Android Nogut";
  ram = 8;
  rom = 32;
  battery = 4200;
  color = "Black";
  #=======================

  #methods
  #===================================
  #constructor = called automatically when objects of this class are created
  def __init__(self,p_make, p_model):
    self.make = p_make;  
    self.model = p_model;
    print("Mobile device created : ");
    print("Make : ", self.make);
    print("Model : ", self.model);

  def PlayMusic(self, song):
    print("The mobile is playing the song : ", song);

  def WatchVideo(self):
    print("The mobile is being used to watch video");

  def PlayGame(self):
    print("The mobile is being used to play games");

  def Call(self, person):
    print("Calling .... ", person);

  def Text(self, person):
    print("Texting.... ", person);

  def display(self):
    print("Mobile Details");
    print("  Make : ", self.make);
    print("  Model : ", self.model);    
    print("  Operating System : ", self.os);
    print("  RAM Memory : " + str(self.ram) + " GB");
    print("  ROM Storage : " + str(self.rom) + " GB");    
    print("  Battery : " + str(self.battery) + " mAh");    
    print("  Colour : ", self.color);
  #===================================

In [ ]:
a = Mobile("Samsung", "F41");
a.Call("Manikandan");
a.Text("Sam");
a.WatchVideo();
a.PlayMusic("Christmas Song");
a.PlayGame();
a.display();
a.os = " Androiod Q";
a.display();

Mobile device created :
Make :  Samsung
Model :  F41
Calling ....  Manikandan
Texting....  Sam
The mobile is being used to watch video
The mobile is playing the song :  Christmas Song
The mobile is being used to play games
Mobile Details
  Make :  Samsung
  Model :  F41
  Operating System :  Android Nogut
  RAM Memory : 8 GB
  ROM Storage : 32 GB
  Battery : 4200 mAh
  Colour :  Black
Mobile Details
  Make :  Samsung
  Model :  F41
  Operating System :   Androiod Q
  RAM Memory : 8 GB
  ROM Storage : 32 GB
  Battery : 4200 mAh
  Colour :  Black

# sum of numbers

In [ ]:
class SumofNumber:
  sum=0;
  list2=[];

  def getInput(self):
    var1 = int(input("Enter the starting number"));
    var2 = int(input("Enter the end number"));
    self.list2 = range(var1,var2);

  def show(self):
    print("The size of the list : ", len(self.list2));

  def display(self):
    print("The given elements are :")
    for x in self.list2:
      print(x);

  def calculate(self):
    print("Calculation step :")
    for x in self.list2:
      self.sum=self.sum+x;

  def result(self):
    print("Result : ")
    print("Finally, the sum of numbers ",self.sum);

In [ ]:
s = SumofNumber();
s.getInput();
s.calculate();
s.display();
s.result();

Enter the starting number2
Enter the end number10
Calculation step :
The given elements are :
2
3
4
5
6
7
8
9
Result :
Finally, the sum of numbers  44

# Inheritance
It allows us to define a class (child class) that can inherit or get all the method and properties from another class (parent class)

* Parent class - class that hold the properties and methods 

* Child class - on inherting the parent class, all the properties and methods of the parent class can be accessed through the child class

In [ ]:
# parent class - A. { Has properties => x and y}
class A:
  x=10;
  y=25.5;

#child class - B {Has properties => z}
# as this is a child class of A class, all the methods and properties of A will 
# be passed to this child class
class B(A):
  z="Hi";

class C(A):
  pass; # it is a keyword that is used to specify that we don't want to give any
  # additional properties or methods to the child class

In [ ]:
b1=B(); # create an object for class B
print(b1.z); # print the prop from child class
print(b1.x); # print the prop from parent class
print(b1.y); # print the prop from parent class

c1 = C();
print(c1.x); # print the prop from parent class
print(c1.y); # print the prop from parent class

## Animal class

In [ ]:
# method overriding - giving different definitions to the functions that work 
# differently than those defined in the parent class
class Animal:
  name = "Animal";
  # constructor - a method that gets called automatically when objects are created
  def __init__(self):
    print("Animal created");

  def makeSound(self):
    print(self.name + " : Makes a sound");

class Dog(Animal):
  name = "Dog";
  def __init__(self,name):
    self.name = name;
    print("Dog created");  
  def makeSound(self): # override the makeSound() of Animal
    print(self.name + " : Bow Bow!!!");

class Cat(Animal):
  name = "Cat";
  def __init__(self,name):
    self.name = name;
    print("Cat created");
    Animal.__init__(self); # calls the parent class's constructor    
  def makeSound(self): # override the makeSound() of Animal
    print(self.name + " : Meow Meow!!!");

In [ ]:
#create a parent class object a
a = Animal();
a.makeSound();
#create a child class object j
j = Dog("Jimmy"); # passing name as constructor argument
j.makeSound();
j1 = Dog("Rex");
j1.makeSound();
#create a child class object c
c = Cat("Blacky");
c.makeSound();

Animal created
Animal : Makes a sound
Dog created
Jimmy : Bow Bow!!!
Dog created
Rex : Bow Bow!!!
Cat created
Animal created
Blacky : Meow Meow!!!

In [ ]:
class Spare:
  height = 4.1;
  length = 6.2;
  width = 2.4;

class Bolt(Spare):
  breadth = 3.4;

bz = Bolt();

In [ ]:
class AdvancedDog(Dog):
  weight=4;
  height=2;
  age=8;
  name = "Advanced Dog";
  def wagTail(self): # adding new methods to this class
    print(self.name + " : Wagging Tail....");    
  def eat(self,food): # adding new methods to this class
    print(self.name + " : Eating ... " + food);
  def walk(self): # adding new methods to this class
    print(self.name + ": Walking .... ");    
  def follow(self,target): # adding new methods to this class
    print(self.name + ": Following =>", target);

In [ ]:
a = AdvancedDog("Some dog");
a.makeSound();
a.eat("Chicken Biriyani");
a.wagTail();
a.follow("Manikandan");
a.walk();

Dog created
Some dog : Bow Bow!!!
Some dog : Eating ... Chicken Biriyani
Some dog : Wagging Tail....
Some dog: Following => Manikandan
Some dog: Walking ....

In [ ]:
del a.name; # delete a property in a
a.eat("Chicken Biriyani");
a.wagTail();
a.follow("Manikandan");
a.walk();
print(a.name);

In [ ]:
del a; # delete a class object

In [ ]:
print(a.name);

## super() function
This can be used to call or access the methods and properties of the parent class from the child class.

In [ ]:
class Object:
  def __init__(self):
    print("Object created");
  def __init__(self,n):
    print("Object created  : " + n);
    self.fullname=n;
  def samp(self):
    print("Sample");

class Object1(Object):
  def __init__(self,n,a):
    super().__init__(n); # calls the parent class' constructor from Object
    self.age = a;
  def show(self):
    print("Name : ", self.fullname);
    print("Age  : ", self.age);
    super().samp(); # calls the samp method from Object

o = Object("Mani");
print(o.fullname);

o1 = Object1("Mani",28);
o1.show();

Object created  : Mani
Mani
Object created  : Mani
Name :  Mani
Age  :  28
Sample

In [ ]:
## Error debugging
class profile:
  def __init__(self,name):
    print("OBJECT: "+name);
    self.fullname=name;
  def approve(self):
    print("approved");

class profile_age(profile):
  def __init__(self,name,age):
    super().__init__(name);
    self.name=name;
    self.age = age;
  def show(self):
    print("Profile: ",self.name);
    print("age: ",self.age);
    super().approve();

A = profile("MANIKANDAN");
print(A.fullname);
A = profile_age("MANIKANDAN" , 25);
A.show();

OBJECT: MANIKANDAN
MANIKANDAN
OBJECT: MANIKANDAN
Profile:  MANIKANDAN
age:  25
approved

# Python Iterators
An iterator is an object  that is used for going through all the items in an list.
<br/>
Note : An iterator can be created for iteratable objects such as Lists, Tuples, Dictionaries

In [ ]:
t = ("apple", "orange", "banana", "mango") #creating tuple
it = iter(t); #create iterator for the tuple
print(it) # show the type of t
print(next(it)); # call next on iterator object
print(next(it));
print(next(it));
print(next(it));
# print(next(it)); -- This will throw an error - printed all the elements in iter

<tuple_iterator object at 0x7f3eba60bc10>
apple
orange
banana
mango

In [ ]:
it = iter("banana");
print(next(it));
print(next(it));
print(next(it));
str1 = "banana";
print("\n");
for q in str1:
  print("\t"+q);

b
a
n


	b
	a
	n
	a
	n
	a

In [ ]:
# without using iterators
t1 = ("apple", "orange", "banana", "mango") #creating tuple

for f in t1:
  print(f);

apple
orange
banana
mango

# Scope

In [ ]:
def fun1():
  x=10;
  print(x);

fun1();

10

In [ ]:
def fun2():
  x=10; # fun_x can access this x
  def fun_x():
    print(x);
  fun_x();       
  

fun2();

10

In [ ]:
def fun3():
  global b; # b is a global variable that can be used anywhere
  b=10; # fun_x can access this x
  def fun_x():
    print(b);
  fun_x();       
  

fun3();

10

In [ ]:
print(b)

10

# Modules
## DateTime

In [ ]:
# import a module
import datetime;

x = datetime.datetime.now();
print("Now :", x);

print("Date :", x.day);
print("Month :", x.month);
print("Year :", x.year);
print("Hour :", x.hour);
print("Minute :", x.minute);
print("Second :", x.second);
print(x.strftime("%p"));
print("Day :", x.strftime("%A")); # day
print("Month :", x.strftime("%B")); # month

x = datetime.datetime(2021,9,1,3,5,28);
print("Date chosen :", x);

print("Date :", x.day);
print("Month :", x.month);
print("Year :", x.year);
print("Hour :", x.hour);
print("Minute :", x.minute);
print("Second :", x.second);
print(x.strftime("%p"));
print("Day :", x.strftime("%A")); # day
print("Month :", x.strftime("%B")); # month

#view inside the datetime module
#print("Inside datetime :");
#print(dir(datetime));

#print("Inside datetime.datetime :");
#view datetime class inside of the datetime module
#print(dir(datetime.datetime));


print("Date Checking Program");
print("************************");
dd = int(input("Enter date :"));
mm = int(input("Enter month :"));
yyyy = int(input("Enter year :"));
h = int(input("Enter Hour :"));
m = int(input("Enter Minute :"));
s = int(input("Enter Second :"));
x = datetime.datetime(yyyy,mm,dd,h,m,s);
print("Date given :", x);

print("Date :", x.day);
print("Month :", x.month);
print("Year :", x.year);
print("Hour :", x.hour);
print("Minute :", x.minute);
print("Second :", x.second);
print(x.strftime("%p"));
print("Day :", x.strftime("%A"));
print("Month :", x.strftime("%B"));
20

## Maths

In [ ]:
import math;

list1 = [5,10,12,15];

x = max(list1);
print(x)

x = min(list1);
print(x);

x = abs(-6.876);
print(x);

x = pow(2,3); # equivalant to print(2**3);
print(x);

x = math.sqrt(64);
print(x);

x = math.ceil(6.876);
print(x);

x = math.ceil(-6.876);
print(x);

x = math.floor(-6.876);
print(x);

x = math.floor(6.876);
print(x);

x = math.degrees(4);
print(x);

x = math.radians(60);
print(x);

x = math.log2(10);
print(x);

x = math.sin(90);
print(x);

#tan
x = math.tan(6.876);
print(x);

#arc tan
x = math.atan(6.876);
print(x);

15
5
6.876
8
8.0
7
-6
-7
6
229.1831180523293
1.0471975511965976
3.321928094887362
0.8939966636005579
0.6736398866121137
1.4263754641486666

## JSON Handling - Javascript Object Notation

In [ ]:
# conversion from a json string to dictionary in python
import json;
x = '{"name": "Manikandan","age": 19,"course":"python","city":"Tuticorin"}'
print(x);
print(type(x));
data = json.loads(x);
print(data);
print(type(data));

print(data["name"]);

{"name": "Manikandan","age": 19,"course":"python","city":"Tuticorin"}
<class 'str'>
{'name': 'Manikandan', 'age': 19, 'course': 'python', 'city': 'Tuticorin'}
<class 'dict'>
Manikandan

In [ ]:
# conversion from a dictionary in python to json string
student = {
  "name": "Manikandan",
  "age": 19,
  "course":"python",
  "city":"Tuticorin"
}
print(student);
print(type(student));

x = json.dumps(student);
print(x);
print(type(x));

{'name': 'Manikandan', 'age': 19, 'course': 'python', 'city': 'Tuticorin'}
<class 'dict'>
{"name": "Manikandan", "age": 19, "course": "python", "city": "Tuticorin"}
<class 'str'>

In [1]:
 import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

# Exception Handling

In [ ]:
abc=100
#print(pqr);
print("Hello");
try:
  print("Hello again");
  print(pqr);
except:
  print('The variable abc has not been initialized');
print("Hello once again");
print("Hello once again and again");

Hello
Hello again
The variable abc has not been initialized
Hello once again
Hello once again and again

In [ ]:
t=0;
try:
  a = int(input("Enter a :"));
  b = int(input("Enter b : "));
  t = a/b;
except NameError:
  print('variable name is not initialized');
except ZeroDivisionError:
  print('you cannot divide by zero');
except:
  print('An error occured. Please try again!');  
finally:
  print("The answer is ",t);

Enter a :8
Enter b : 5
variable name is not initialized
The answer is  0

In [ ]:
t=0;
#a="Hello";
a=6;
if not type(a) is int:
  raise Exception("A is not a integer");

if a>100:
  raise Exception("A value should be below 100. Run the program again");

try:
  a = int(input("Enter a below 100 :"));
  if a>100:
    raise Exception("A value should be below 100. Run the program again");  
  b = int(input("Enter b : "));
  t = a/b;
except NameError:
  print('variable name is not initialized');
except ZeroDivisionError:
  print('you cannot divide by zero');
except:
  print('An error occured. Please try again!');  
finally:
  print("The answer is ",t);

An error occured. Please try again!
The answer is  0

# String formatting

In [ ]:
price = 15.6550;
print("The cost of the product is {} Rupees".format(price));
print("The cost of the product is {:.2f} Rupees".format(price));

The cost of the product is 15.655 Rupees
The cost of the product is 15.65 Rupees

In [ ]:
product="Hamam soap";
print("The cost of the {} is {:.2f} Rupees".format(product,price));

The cost of the Hamam soap is 15.65 Rupees

In [ ]:
product=input("Enter product name :");
price = float(input("Enter product cost :"));
print("The cost of the {} is {:.2f} Rupees".format(product,price));

Enter product name :samp
Enter product cost :15
The cost of the samp is 15.00 Rupees

In [ ]:
a = float(input("Enter a : "));
b = float(input("Enter b : "));
c = a+b;
print("The sum of {2:.2f} and {1:.2f} is {0:.2f}".format(a,b,c));
print("The sum of {:.2f} and {:.2f} is {:.2f}".format(a,b,c));
print("The sum of {0:.2f} and {1:.2f} is {2:.2f}. So the final answer is {2:.2f}".format(a,b,c));

Enter a : 5.76
Enter b : 4.23
The sum of 9.99 and 4.23 is 5.76
The sum of 5.76 and 4.23 is 9.99
The sum of 5.76 and 4.23 is 9.99. So the final answer is 9.99

In [ ]:
car_str = "I have a {carname} and it is a {make}";
print(car_str.format(carname="DB9", make="Aston Martin"));

I have a DB9 and it is a Aston Martin