<a href="https://colab.research.google.com/github/Benjamindavid03/python_exercises/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Jupiter Notebook
This is the tool that we can use for running python programs directly in the internet

# Python fundamentals

## Introduction to comments in python

In [ ]:
# This is a comment just for understanding whatever I teach in python

## using print() function to display text on screen

In [ ]:
print("Welcome to python Frances");

In [ ]:
print('The strings in python can also be given in single quotations');

## Variables in *Python*

### creating variables in python

In [ ]:
v=10;                   #assign 10 to variable v
name = "Dr. Benjamin";  #assign 'Dr. Benjamin' to variable name
s1 = 3.45;              #assign to s1
s2 = 6.532;             #assign to s2
s3 = 'Q';
print(v);
print(name);
print(s1);
print(s2);
print(s3);

### To know the type of a variable

In [ ]:
#we can use the type function 
print(type(v));
print(type(name));
print(type(s1));
print(type(s2));
print(type(s3));

### Default types in python
<h3>Python has the following data types built-in by default, in these categories:</h3>

<ol>
<li>Text Type:	str</li>
<li>Numeric Types:	int, float, complex</li>
<li>Sequence Types:	list, tuple, range</li>
<li>Mapping Type:	dict</li>
<li>Set Types:	set, frozenset</li>
<li>Boolean Type:	bool</li>
<li>Binary Types:	bytes, bytearray, memoryview</li>
</ol>

In [ ]:
#different types in python 
#assigning the variables with values

#string
x = "Hello World";
print(x);
print(type(x));

#int
x = 20;  
print(x);
print(type(x));
#float
x = 20.5;
print(x);
print(type(x));
#complex
x = 3+5j;    #real and imaginary is stored
print(x);
x = +8j;     # imaginary is only stored
print(type(x));
print(x);

#list
x = ["apple", "banana", "cherry"];
print(x);
print(type(x));

#tuple
x = ("apple", "banana", "cherry");
print(x);
print(type(x));

#range
x = range(6);
print(x);
print(type(x));

#dict
x = {"name" : "John", "age" : 36};  #name value pair (or) key value pair
print(x);
print(type(x));

#set
x = {"apple", "banana", "cherry"};
print(x);

y = {"Sv cvb ", "fdvdfvN", "sacxascC"};

#frozenset
x = frozenset({"apple", "banana", "cherry"}); # passing the set values directly in the frozenset function
print(x);
x = frozenset(y); # passing the set variable y to the forzenset function
print(x);

#bool
x = True;
print(x);
y = False;
print(y);
print(type(x));
print(type(y));

#bytes
x = b"Hello";
print(bytes(x))
print(x);
print(type(x));
#bytearray
x = bytearray(5);
print(x);
#100001110
#0-9,A,B,C,D,E,F
#memoryview
x = memoryview(bytes(8));
print(x);

print(type("4.5.3.2"));

### Type conversion from one type to another
convert the type of an variable from one type to another

In [ ]:
x = str(3)    # x will be '3'
print(x);
print(type(x))
y = int(3.56)    # y will be 3
print(y);
print(type(y))
z = float("5")  # z will be 3.0
print(z);
print(type(z))
#convert from int to float:
a = float(x)
print(a)

### DataType setting using constructor
If you want to specify the data type, you can use the following constructor functions

In [ ]:
# we are assigning the variables using the constructor of the classes
x = "Hello World";
x = str("Hello World");
print(x);
print(type(x));
x = int(20);
print(x);
x = float(20.5);
print(x);
x = complex(1j);
print(x);
x = list(("apple", "banana", "cherry"));
print(x);
x = tuple(("apple", "banana", "cherry"));
print(x);
x = range(6);
print(x);
x = dict(name="John", age=36, city="Thoothukudi");
print(x);
x = set(("apple", "banana", "cherry"));
print(x);
x = frozenset(("apple", "banana", "cherry"));
print(x);
x = bool(0);  # represents False
print(x);
x = bool(4);  #represents  True 
print(x);
x = bytes(5);
print(x);
x = bytearray(5);
print(x);
x = memoryview(bytes(5));
print(x);

## boolean types

In [ ]:
t = 10 + 9;    # arithmetic - addition
print(t);
t = 10 - 9;    # arithmetic - subtraction
print(t);
t = 10 / 9;    # arithmetic - division
print(t);
t = 7 % 5;    # modulo division = remainder
print(t);

In [ ]:
t = 10 > 9;    # relational operator
print(t);

t = 10 >= 9;    # relational operator
print(t);

t = 10 < 9;    # relational operator
print(t);

t = 10 <= 10;    # relational operator
print(t);

# = - assignment operator
# == - equals operator (comparison)
print(15 == 10) # comparison 
print(10 < 9)

# Conditional Statement

In [ ]:
if 10<2:
  print('10 is greater');
  print('this will also be printed');
print('another line to be printed');

if 1>22:
  print('1 is greater');  

  #this will not be executed -> because the expression in the if in Line 6 is false

In [ ]:
# gets the input from user and prints accordingly
age = int(input("Enter your age"));
if age>18:
  print('eligble for voting');
else:
  print('not eligible for voting');
print("This is a line that will be printed");

In [ ]:
a = 200;
b = 200;

# if the expression is true 
    # the line 8 will be executed
# if the expression in line 7 is false
    # the line 11 will be executed    
if b >= a:
  print("b is greater than a");
else:
  print("a is greater than b");

if b <= a:
  print("b is lesser than a");
else:
  print("a is lesser than b");

if b == a:
  print('a is equal to b');

# <, <=, >, >=, ==

# Arithmetic Operators

Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

Examples : 
+	Addition	x + y
-	Subtraction	x - y


*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

In [ ]:
x = 15.45
y = 2
print (x / y) # division
print(x // y) #the floor division // rounds the result down to the nearest whole number

print(2 * 5);  # multiplication
print(2 ** 5); #same as 2*2*2*2*2

print (x + y) # addition
print (x - y) # subtraction
print (x * y) # multiplication
print(x % y)  # remainder is printed

# Python Bitwise Operators
& 	AND	Sets each bit to 1 if both bits are 1<br/>
|	  OR	Sets each bit to 1 if one of two bits is 1<br/>
^	XOR(Exclusive OR)	Sets each bit to 1 if only one of two bits is 1<br/>
~ 	NOT	Inverts all the bits<br/>
"<<"	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off<br/>
">>"	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off<br/>

In [ ]:
# AND (&)
## A B RESULT
## 0 0 0 
## 1 0 0
## 0 1 0
## 1 1 1

# OR  (|) 
## A B RESULT
## 0 0 0 
## 1 0 1
## 0 1 1
## 1 1 1

# XOR
## A B RESULT
## 0 0 0 
## 1 0 1
## 0 1 1
## 1 1 0

# NOT (~)
## A RESULT
## 1 0
## 0 1

In [ ]:
# print as binary 
print("{0:b}".format(2)); # custom format the binary text
print(bin(200));     # bin function - to print the value in binary text
print(hex(200));    # hex function - to print the value in hexadecimal text

In [ ]:
a=2;
b=3;
print("AND")
x = a&b;
print(bin(a));
print(bin(b));
print("-----")
print(bin(x));
print(x);
print(~x);
print(bin(~x));
print("OR")
x = a|b;
print(bin(a));
print(bin(b));
print("-----")
print(bin(x));
print(x);
print(~x);
print(bin(~x));
print("X-OR")
x = a^b;
print(bin(a));
print(bin(b));
print("-----")
print(bin(x));
print(x);
print(~x);
print(bin(~x));

# Getting input from user

In [ ]:
num = int(input("Enter a number"));
print(num);

# Assignment in Python

In [ ]:
x = 5;
print(x);

In [ ]:
#both are same
x=10;
x = x+3;
x += 3;
print(x);
x = 5;
x -= 3;    #equal to x = x-3;
print(x);
x *= 3;
print(x);
x /= 3;
print(x);
x %= 3;
print(x);
x=10;
x //= 3;
print(x);
x **= 3
print(x);

In [ ]:
x = 5;
print(x);
y = bin(x);
print(y);
print(bin(3))
x&=3;
print(x);
x|=3;
print(x);
x^=3;
print(x);

In [ ]:
print("Left shift")
x=10;
print(bin(x))
print("Before shift",x);
x >>= 1;    #equals to x = x >> 1;
print(bin(x))
print("After shift",x);

print("Right shift")
x=10;
print(bin(x))
print("Before shift",x);
x <<= 1;    #equals to x = x << 1;
print(bin(x))
print("After shift",x);

# Python - List

In [ ]:
print(" lists ")
list1 = ['physics', 'chemistry', 1997, 2000]; 
print(list1[2])
print(list1[0])
print(list1);
list1[2]='computer'
list1.append("maths");
print(list1);
list2 = [1, 2, 3, 4, 5 ]; 
list3 = ["a", "b", "c", "d"]
print(list1)
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2 ] 
print("The list with many type of values", list1)
tinylist = [123, 'john'] 
#index starts with 0
print(list1) # Prints complete list1 
print(list1[0]) # Prints first element of the list 
print(list1[1:3]) # Prints elements starting from 2nd till 3rd 
print(list1[2:]) # Prints elements starting from 3rd element 
print(tinylist * 2) # Prints list two times 
print(list1 + tinylist) #Prints concatenated lists

 lists
1997
physics
['physics', 'chemistry', 1997, 2000]
['physics', 'chemistry', 'computer', 2000, 'maths']
['physics', 'chemistry', 'computer', 2000, 'maths']
The list with many type of values ['abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
list1 = list(("Beta","Alpha"));
print(list1);
list1.sort();
print(list1);
list1.remove("Alpha");  # remove by specifying the value
print(list1);
list1.insert(0,"ABC");  # 0 - 0th index
list1.insert(2,"XYZ");  # 2 - 2nd index
list1.insert(-1,"PQR"); # -1 - before the last element
print(list1);

list1.insert(0,["A","B","C","D"]);  # add a list to the list 
print(list1);

list1.pop(0);        # remove by specifying the index
print(list1);

del list1[1];        # remove by specifying the value
print(list1);

print(list1[2]);
list1.reverse();# reverse the elements in the list
print(list1);   

#list1.clear();  #clear the list
#print(list1);

['Beta', 'Alpha']
['Alpha', 'Beta']
['Beta']
['ABC', 'Beta', 'PQR', 'XYZ']
[['A', 'B', 'C', 'D'], 'ABC', 'Beta', 'PQR', 'XYZ']
['ABC', 'Beta', 'PQR', 'XYZ']
['ABC', 'PQR', 'XYZ']
XYZ
['XYZ', 'PQR', 'ABC']

In [ ]:
for x in list1:
  print(x);

XYZ
PQR
ABC

In [ ]:
var1 = int(input("Enter the starting number"));
var2 = int(input("Enter the end number"));

list2 = range(var1,var2);
sum=0;
print("The size of the list : ", len(list2));
print("The given elements are :")
for x in list2:
  print(x);

print("Calculation step :")
for x in list2:
  sum=sum+x;
  print("Now sum = ",sum);

print("Result : ")
print("Finally, the sum of numbers ",sum);

Enter the starting number0
Enter the end number20
The size of the list :  20
The given elements are :
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Calculation step :
Now sum =  0
Now sum =  1
Now sum =  3
Now sum =  6
Now sum =  10
Now sum =  15
Now sum =  21
Now sum =  28
Now sum =  36
Now sum =  45
Now sum =  55
Now sum =  66
Now sum =  78
Now sum =  91
Now sum =  105
Now sum =  120
Now sum =  136
Now sum =  153
Now sum =  171
Now sum =  190
Result :
Finally, the sum of numbers  190

In [ ]:
print("Calculation step :")
res=0;
for x in list2:
  sum=x*x;
  res+=x*x;
  print("Now sum = ",sum);
  print("Currently res = ",res);

print("Result : ")
print("Finally, the sum of numbers ",res);

In [ ]:
print("Print using while loop");
res=0;
sum=0;
i=0;
size = len(list2); # get the number of elements and store in size
while i<size:      # while the value of i is lesser than the number of elements in the list
  x = list2[i];
  sum=x*x;
  res+=x*x;
  print("Now sum = ",sum);
  print("Currently res = ",res);
  i=i+1;

print("The sum of numbers using while loop : ",res);

Print using while loop
Now sum =  0
Currently res =  0
Now sum =  1
Currently res =  1
Now sum =  4
Currently res =  5
Now sum =  9
Currently res =  14
Now sum =  16
Currently res =  30
Now sum =  25
Currently res =  55
Now sum =  36
Currently res =  91
Now sum =  49
Currently res =  140
Now sum =  64
Currently res =  204
Now sum =  81
Currently res =  285
Now sum =  100
Currently res =  385
Now sum =  121
Currently res =  506
Now sum =  144
Currently res =  650
Now sum =  169
Currently res =  819
Now sum =  196
Currently res =  1015
Now sum =  225
Currently res =  1240
Now sum =  256
Currently res =  1496
Now sum =  289
Currently res =  1785
Now sum =  324
Currently res =  2109
Now sum =  361
Currently res =  2470
2470

In [ ]:
fruits = ["apple", "mango", "banana"]
[print(x) for x in fruits]

for x in fruits:
  print(x);

apple
mango
banana
apple
mango
banana

In [ ]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['mango', 'banana']

# Python - Array

In [ ]:
print("array")

from array import *  #import array
array1 = array('i', [10,20,30,40,50]) 
for x in array1:
    print(x)
print("insert new element")
array1.insert(1,60)
print(" search for a numbers index")
print (array1.index(40))
print("delete")
array1.remove(40)
for x in array1:
    print(x)
print("update existing record")
array1[2] = 80
for x in array1:
    print(x) 
print("Two dimensional arrays")
#two dimensional array 
from array import * 
T = [[11,12,5,2], [15,6,1, 0], [10, 8,12, 5], [12,15, 8, 6]]

In [ ]:
print(T[0]) # prints 11 12 5 2
print(T[1][2]) # prints 1
for r in T:
    for c in r:
        print(c)
print("\n")
    
for r in T:
    for c in r:
        print(c)
    print()

# Python - Functions
It creates a subprocedure that can be called whenever required in the program

In [ ]:
#define the function
#function 1
def callme():        # function with no arguments
    print("welcome to functions");
    

#function 2
def add(val1,val2):  # function with two arguments
    print(val1+val2);

In [ ]:
callme();  #call the function callme
add(23,45.45); # call the function add and pass two values

welcome to functions
68.45

In [ ]:
#function 3
def welcome(name, company):
  print("My name is", name);
  print("I work in", company);

In [ ]:
welcome("Manikandan","Caterpillar")
welcome("Dr. Benjamin", "K. R. College")

My name is Manikandan
I work in Caterpillar
My name is Dr. Benjamin
I work in K. R. College

In [ ]:
def vote(name,age):
  print("Welcome", name);
  if age>18:
    print("You can cast your vote now!");
  else:
    print("You cannot vote");

In [ ]:
vote("U. Manikandan",14);
vote("V. Manikandan",54);

Welcome U. Manikandan
You cannot vote
Welcome V. Manikandan
You can cast your vote now!

In [ ]:
list2 = [];   # create an empty list
def createList(): # function with no argument
  var1 = int(input("Enter the starting number")); #get first number
  var2 = int(input("Enter the end number")); #get second number
  list2 = range(var1,var2);   # create a range from the values
  #print the elements created
  print("The given elements are :");
  for x in list2:
    print(x);

In [ ]:
createList();

Enter the starting number5
Enter the end number9
The given elements are :
5
6
7
8

In [ ]:
def createName(fname,lname):
  print("Full name is ", fname + " " + lname); #string concatenation

createName("Benjamin", "David")
createName("David","Benjamin")

Full name is  Benjamin David
Full name is  David Benjamin

## Parameter specification while giving input to the function

In [ ]:
 createName(lname='David', fname='Benjamin') # explictly specify the function arguments

Full name is  Benjamin David

## functions that returns a value
A function can process some information and return a particular value to the calling location. Such a function can be seen here.

In [ ]:
def canVote(age):
  if age>18:
    return True;
  else:
    return False;

if(canVote(29)):
  print("Can vote");
else:
  print("Cannot vote");

Can vote

In [ ]:
## all these functions get two numbers and processes them. Finally returns the result.
def add(a,b):
  return a+b;
def sub(a,b):
  return a-b; 
def mul(a,b):
  return a*b;  
def div(a,b):
  return a/b; 

a = int(input("Enter first number :"));
b = int(input("Enter second number :"));

print("Addition = ",add(a,b));
print("Subtraction = ",sub(a,b));
print("Multiplication = ",mul(a,b));
print("Divison =  ",div(a,b));

Enter first number :8
Enter second number :5
Addition =  13
Subtraction =  3
Multiplication =  40
Divison =   1.6

## Default parameter values in functions
If we call a function without giving any parameter values, it might throw an error saying "#2 parameter is not given". Hence, default parameter values can be given to function to avoid such issues.

In [ ]:
def createName(saluation, firstname, middlename = "", lastname =""):
  fname = saluation +". "+ firstname+" "+middlename+" "+lastname;
  return fname;

In [ ]:
fullname = createName("Dr","Benjamin","Fredrick","David");
print(fullname);

Dr. Benjamin Fredrick David

In [ ]:
fullname = createName("Mr","Manikandan","Alagesan");
print(fullname);

Mr. Manikandan Alagesan

## Function that gets the list as argument

In [ ]:
# this function gets the parameter as a list
def print_list(listx): #listx - list variable
  for i in listx:
    print(i);

In [ ]:
var = ["apple","mango","banana"];
var2 = [3,5,6,4,"sample",7.64]
print_list(var);
print_list(var2);

apple
mango
banana
3
5
6
4
sample
7.64

# Arbitrary Argument 
These can specified by using *variable inside the parameters of the function
<br/>
<code>
def fun(*var): # *var => can hold many parameters
</code>

In [ ]:
# if we don't know how many parameters the user will give
def sample_fun(*fruits):
  print("The second fruit is " + fruits[2]);

In [ ]:
sample_fun("apple","mango","banana");

The second fruit is banana

In [ ]:
# this function gets the parameter as a list
def getFruits(*listx):
  print("The fruits given are :")
  for i in listx:
    print(i);

In [ ]:
# Function that gets 6 arguments/ parameters
getFruits("apple", "papaya", "mango", "banana", "grapes", "orange");

The fruits given are :
apple
papaya
mango
banana
grapes
orange

In [ ]:

def studentResult(name,sub1, sub2, sub3):
  print("Student Name    : ", name);
  print("Subject 1 Mark  : ", sub1);
  print("Subject 2 Mark  : ", sub2);
  print("Subject 3 Mark  : ", sub3);
  total = sub1+sub2+sub3;
  print("Total marks     : ", total);
  average = total/3;
  print("Student Average : ", average);
  # if the student's average is above 35 then return True or return False
  if average >35:
    return True;
  else:
    return False;

#result = studentResult("Benjamin",66,34,76);
if studentResult("Benjamin",6,3,16):
  print("The student has passed the exam");
else:
  print("The student has failed in the exam");

Student Name    :  Benjamin
Subject 1 Mark  :  6
Subject 2 Mark  :  3
Subject 3 Mark  :  16
Total marks     :  25
Student Average :  8.333333333333334
The student has failed in the exam

In [ ]:
studentResult("Benjamin",6,3,16)

Student Name    :  Benjamin
Subject 1 Mark  :  6
Subject 2 Mark  :  3
Subject 3 Mark  :  16
Total marks     :  25
Student Average :  8.333333333333334

False