<a href="https://colab.research.google.com/github/Benjamindavid03/python_exercises/blob/main/stock_market_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Import the libraries
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [15]:
#Get the stock quote 
# for tracking Apple Computers stock price
df = web.DataReader('AAPL', data_source='yahoo', start='2012-10-10', end='2020-1-1') 
#Show the data 
df

                 High        Low       Open      Close       Volume  Adj Close
Date
2012-10-10  23.035000  22.750000  22.847857  22.889643  510356000.0  19.864758
2012-10-11  23.114286  22.432142  23.089285  22.432142  546081200.0  19.467718
2012-10-12  22.692142  22.332144  22.484285  22.489643  460014800.0  19.517622
2012-10-15  22.683214  22.280357  22.583929  22.670000  432502000.0  19.674141
2012-10-16  23.225000  22.535715  22.691786  23.206785  549771600.0  20.139996
...               ...        ...        ...        ...          ...        ...
2019-12-24  71.222504  70.730003  71.172501  71.067497   48478800.0  70.580566
2019-12-26  72.495003  71.175003  71.205002  72.477501   93121200.0  71.980911
2019-12-27  73.492500  72.029999  72.779999  72.449997  146266000.0  71.953598
2019-12-30  73.172501  71.305000  72.364998  72.879997  144114400.0  72.380653
2019-12-31  73.419998  72.379997  72.482498  73.412498  100805600.0  72.909500

[1817 rows x 6 columns]