<a href="https://colab.research.google.com/github/Benjamindavid03/python_exercises/blob/main/stock_market_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Import the libraries
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [11]:
#Get the stock quote 
df = web.DataReader('AAPL', data_source='yahoo', start='2012-01-01', end='2019-12-17') 
#Show the data 
df

                 High        Low       Open      Close       Volume  Adj Close
Date
2012-01-03  14.732142  14.607142  14.621428  14.686786  302220800.0  12.691425
2012-01-04  14.810000  14.617143  14.642858  14.765715  260022000.0  12.759631
2012-01-05  14.948215  14.738214  14.819643  14.929643  271269600.0  12.901293
2012-01-06  15.098214  14.972143  14.991786  15.085714  318292800.0  13.036158
2012-01-09  15.276786  15.048214  15.196428  15.061786  394024400.0  13.015480
...               ...        ...        ...        ...          ...        ...
2019-12-11  67.775002  67.125000  67.202499  67.692497   78756800.0  67.228699
2019-12-12  68.139999  66.830002  66.945000  67.864998  137310400.0  67.400017
2019-12-13  68.824997  67.732498  67.864998  68.787498  133587600.0  68.316193
2019-12-16  70.197502  69.245003  69.250000  69.964996  128186000.0  69.485619
2019-12-17  70.442497  69.699997  69.892502  70.102501  114158400.0  69.622192

[2003 rows x 6 columns]

In [12]:
#Stock history
sbin = get_history(symbol='SBIN',
                    start=date(2015,1,1), 
                    end=date(2015,1,10))
sbin[[ 'VWAP', 'Turnover']].plot(secondary_y='Turnover')

"""	Index price history
	symbol can take these values (These indexes have derivatives as well)
	"NIFTY" or "NIFTY 50",
	"BANKNIFTY" or "NIFTY BANK",
	"NIFTYINFRA" or "NIFTY INFRA",
    	"NIFTYIT" or "NIFTY IT",
    	"NIFTYMID50" or "NIFTY MIDCAP 50",
    	"NIFTYPSE" or "NIFTY PSE"
	In addition to these there are many indices
	For full list refer- http://www.nseindia.com/products/content/equities/indices/historical_index_data.htm
"""
nifty = get_history(symbol="NIFTY", 
                    start=date(2015,1,1), 
                    end=date(2015,1,10),
					index=True)
nifty[['Close', 'Turnover']].plot(secondary_y='Turnover')

NameError: ignored